#pragma once

// WiFi credentials
#define AP_SSID "your-ssid"
#define AP_PASSWORD "your-password"

// Firebase service account credentials
#define PROJECT_ID "firebase-project-id"
#define CLIENT_EMAIL "firebase-client-email"
#define PRIVATE_KEY "firebase-private-key"
